@import './base.css';

#app {
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
    border: none;
    border-radius: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
  scale: 1.02;
  transition: 0.1s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Tablet e Desktop */
@media (min-width: 768px) {
  #app {
    padding: 1rem;
  }

  button {
    margin: 0 10px;
    padding: 10px 20px;
  }
}

/* Desktop maior */
@media (min-width: 1024px) {
  #app {
    padding: 2rem;
  }
}
